.portfolio-page-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: calc(100vh - 84px);



    .left-side {
        background-color: $offwhite;
    }

    .right-side {
        background-color: $grey;
    }
}